.policy-box {
    max-height: 320px;
    overflow-y: auto;
    padding-right: 10px;
}

    .policy-box h2 {
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 6px;
    }

    .policy-box p {
        color: #4b5563;
        font-size: 14px;
        line-height: 1.7;
    }

    .policy-box::-webkit-scrollbar {
        width: 6px;
    }

    .policy-box::-webkit-scrollbar-thumb {
        background: #d1d5db;
        border-radius: 10px;
    }
