<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>عذراً، أنت غير مخول للدخول لهذه الصفحة.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>الصفحة غير موجودة.</p>
            </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
